@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spinnaker&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    margin:0;
}

html{
    font-size:16px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #333;
}

/* Global Text */

span{
    font-weight:700;
}

img {
    max-width: 100%;
}

h1{
    font-size:3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

h1, h2 {
    margin-bottom:15px;
}

.service-type{
    letter-spacing: .5em;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
}

.service-type-works{
    letter-spacing: .5em;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
    grid-column:span 2;
}

/* Images */

/* Navigation */

ul {
    list-style: none;
}

.container{
    max-width:1100px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar {
    background: #f4f4f4;
    padding: 20px 0;
}

.navbar .logo{
    height:100%;
}

.navbar a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    padding: 1rem;
}

.navbar a:hover {
    color:#E76F51;
    border-radius: .5rem;
    padding: 1rem;
    /* font-weight:700; */
}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    height:100%;
}

.navbar ul{
    color: #333;
    display:flex;
    gap:1rem;
}

/* Buttons */
.button-hire{
    background-color:#E76F51;
    color: #f4f4f4 !important;
    text-decoration:none;
    padding: 1rem;
    border-radius:1rem;
    border: solid 1px #E76F51;
    width:150px;
    text-align:center;
}

.button-hire:hover{
    background-color:#f4f4f4;
    color: #E76F51 !important;
    text-decoration:none;
    padding: 1rem;
    border-radius:1rem;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.button{
    background-color:#E76F51;
    color: #f4f4f4;
    text-decoration:none;
    padding: 1rem;
    border-radius:1rem;
    border: solid 1px #E76F51;
    width:150px;
    text-align:center;
}

.button:hover{
    background-color:#f4f4f4;
    color: #E76F51;
    text-decoration:none;
    padding: 1rem;
    border-radius:1rem;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.call-to-action{
    margin-top:20px;
    display:flex;
    gap: 1rem;
}

/* Header Section */


#header{
    background-color: #f4f4f4;
    color: #333333;
}

#header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height:1.2;
}

#header img{
    max-width:400px;
}


#header .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    height:100%;
    padding: 60px 40px;
}

/* About Section */

#about{
    background-color:#333;
    color: #f4f4f4;
}

#about .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 1rem;
    height:100%;
    padding: 60px 40px;
}

#about img{
    max-width:400px;
}

#services{
    background: #f4f4f4;
    padding:50px 40px;
    color:#333;
    text-align:center;
}

.boxes{
    margin-top:20px;
}

#services .boxes{
    display:flex;
    justify-content: space-between;
    gap: 1rem;
    /* padding-bottom: 30px; Overlaps*/
}

.service-item {
    text-align:left;
    background: #333333;
    color: #f9f9f9;
    border-radius: 10px;
    flex:1;
    /* margin: -20px 10px 0 10px; Overlaps*/
    padding: 15px 20px;
}

/* Recent Projects */

#projects{
    color: #f4f4f4;
    background-color: #333;
}

.projects-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:1100px;
    margin: 0 auto;
    padding: 50px 40px;
    gap: 1rem;
    text-align: center;
}

.grid-photo{
    background-color: #f2f2f2;
    border: solid 1px #cccccc;
    border-radius:20px;
    padding:10px;
}

.grid-photo-title{
    text-decoration: none;
    font-weight:700;
    font-size:1rem;
    color: #333;
}

.grid-photo:hover{
    box-shadow: 3px 3px 3px #E76F51;
    transform: scale(1.02);
}

.col-span-3{
    grid-column: span 2;
}

.fa-solid{
    margin-right:3px;
}


/* Testimonials*/

#testimonials{
    background-color: #f4f4f4;
    text-align:center;
    padding: 50px 40px;
}

#testimonials .container{
    display:flex;
    gap: 1rem;
}

.testimonial-items{
    background-color: #fff;
    padding: 2rem;
    border-radius:1rem;
    text-align:left;
}

.testimonial-author{
    font-weight:800;
    text-align:right;
}

.rating{
    color:#FEEE09;
    font-size: 1.5rem;
}

/* Footer */

.fa {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius:30px;
  width:60px;
  text-decoration: none;
  margin-left:5px;
}

/* Social Icon Hover */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #E76F51;
  color: white;
}

/* Github */
.fa-github {
  background: #E76F51;
  color: white;
}

.fa-instagram {
  background: #E76F51;
  color: white;
}

footer{
    background-color:#264653;
}

footer .container{
    align-items:center;
    color:#f9f9f9;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    padding: 20px 40px;
}

@media screen and (max-width:768px){
    #header .container{
        flex-direction: column;
        padding: 60px 40px;
        margin: 0 auto;
        height: 800px;
    }

    .boxes .container {
        height:100%;
        padding: 60px 40px;
    }
}

@media screen and (max-width:400px){
    .html{
        font-size:14px;
    }

    .container{
        padding: 0px;
    }

    /* Header Mobile */
    #header .container{
        flex-direction: column;
        height: 100%;
        padding: 50px 20px;
    }

    .navbar .container{
        flex-direction: column;
        gap:2rem;
    }

    .navbar{
        height:100%;
        align-items: center;
        padding: 20px 0;
    }

    .navbar ul{
        flex-direction: column;
        align-items:center;
        padding:0;
        margin-top:50px 0px;
    }

    .navbar ul li {
    margin-left: 0px;
    }

    .navbar .logo{
        align-items: center;
    }

    /* Mobile Buttons */

    .btn-hire{
        margin-top:20px;
    }

    .header img{
        margin-top:50px;
        max-width:300px;
    }

    .about .container{
        flex-direction:column;
        padding: 50px 20px;
    }

    .about img{
        max-width: 300px;
    }

    /* Mobile Services Section */

    #services{
        padding:50px 20px;
    }

    #services .boxes{
        flex-direction: column;
    }

    .boxes .container{
        flex-direction: column;
        padding: 0px 40px 40px 40px;
        gap:2rem;
    }

     /* Mobile Project Section */

     .projects-container{
        padding:50px 20px;
     }

    .projects-container{
      grid-template-columns: 1fr;
    }

    .col-span-3{
        grid-column: span 2;
    }

    .grid-photo{
        grid-column:span 2;
    }

    /* Mobile Testimonials Section */

    #testimonials{
        padding:50px 20px;
    }

    #testimonials .container{
        flex-direction:column;
    }

    #testimonials .testimonial-items{
        flex-direction:column;
    }

    /* Mobile Footer Section */

    footer .container{
        flex-direction: column;
        text-align: center;

    }

    footer > div > div{
        margin-top:20px;
    }

}
