@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spinnaker&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    margin:0;
}

html{
    font-size:16px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;

}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom:15px;
}

ul {
    list-style: none;
}

.container{
    max-width:1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #f4f4f4;
    padding: 20px 0;
}

.navbar .logo{
    height:100%;
}

.navbar a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    padding: 1rem;
}

.navbar a:hover {
    color:#E76F51;
    border-radius: .5rem;
    padding: 1rem;
    /* font-weight:700; */
}

.navbar .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    height:100%;
}

.navbar ul{
    color: #333;
    display:flex;
    gap:1rem;
}

.btn-hire{
    background-color:#E76F51;
    color: #f9f9f9 !important;
    border-radius: .5rem;
    padding: 1rem;
    font-weight:700;
}

.btn-hire:hover{
    background-color:#f4f4f4;
    color: #E76F51 !important;
    border: solid 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: .5rem;
    padding: 1rem;
    font-weight:700;
}

.btn-talk{
    background-color:#E76F51;
    color: #f9f9f9;
    margin-top:50px;
    border-radius: .5rem;
    padding: 1rem;
    font-weight:700;
}


.header{
    background-color: #f4f4f4;
    color: #333333;
}

.header h1{
    font-size: 3rem;
    font-weight: bold;
    line-height:1.2;
}

.header img{
    max-width:400px;
}


.header .container{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 auto;
    height:100%;
    padding: 100px 40px 100px 40px;
}

.call-to-action{
    display:flex;
    gap: 1rem;
}

.boxes{
        background: #2A9D8F;
}

.boxes .container{
    display:flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.box {
    background: #264653;
    color: #f9f9f9;
    border-radius: 10px;
    margin: -20px 10px 0 10px;
    padding: 15px 20px;
}


.projects-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    max-width:1100px;
    margin: 0 auto;
    padding: 100px 30px;
    gap: 1rem;
    text-align: center;
}

.grid-photo{
    background-color: #f9f9f9;
    border: solid 1px #cccccc;
    border-radius:20px;
    padding:10px;
    
    
}

.grid-photo-title{
    text-decoration: none;
    font-weight:700;
    font-size:1rem;
    color: #333;
}

.grid-photo:hover{
    box-shadow: 3px 3px 3px #ccc;
    transform: scale(1.02);
}

.col-span-3{
    grid-column: span 2;
}

.fa-solid{
    margin-right:3px;
}



/* Footer */

.fa {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius:30px;
  width:60px;
  text-decoration: none;
  margin-left:5px;
}

/* Social Icon Hover */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #E76F51;
  color: white;
}

/* Github */
.fa-github {
  background: #E76F51;
  color: white;
}

.fa-instagram {
  background: #E76F51;
  color: white;
}

footer{
    background-color:#264653;
}

footer .container{
    align-items:center;
    color:#f9f9f9;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
    padding: 20px 30px;
}

@media screen and (max-width:768px){
    .header .container{
        flex-direction: column;
        padding: 60px 40px;
        margin: 0 auto;
        height: 800px;
    }

    .boxes .container {
        height:100%;
        padding: 60px 40px;
    }
}

@media screen and (max-width:400px){
    .html{
        font-size:14px;
    }
    .header .container{
        flex-direction: column;
        height: 100%;
        padding: 60px 40px;
    }

    .navbar .container{
        flex-direction: column;
    }

    .navbar{
        height:100%;
        align-items: center;
        padding: 20px 0;
    }

    .navbar ul{
        flex-direction: column;
        align-items:center;
        padding:0;
        margin:0;
    }

    .btn-hire{
        margin-top:20px;
    }

    .navbar ul li {
    margin-left: 0px;
    }

    .navbar .logo{
        align-items: center;
    }

    .header img{
        margin-top:50px;
        max-width:300px;
    }


    .boxes .container{
        flex-direction: column;
        padding: 0px 40px 40px 40px;
        gap:2rem;
    }

    .projects-container{
      grid-template-columns: 1fr;
    }

    .col-span-3{
        grid-column: span 1;
    }

    footer .container{
        flex-direction: column;
        text-align: center;

    }

    footer > div > div{
        margin-top:20px;
    }

}
