@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-size: 61.5%;
}

/* Header */

header {
  background-color: #21232c;
  color: #fff;
  text-align: center;
}

.nav {
  margin-top:65px;
}

.menu-nav {
  display:flex;
  justify-content: space-between;
  padding: 80px;
  max-width: 1200px;
  margin: auto;
}

nav a.active{
  background-color:#00cc8f;
}

.logo {
  width: 150px;
  height: 150px;
  float:left;
}
    
.row .logo {
  float:left;
}

nav li{
  margin-right: 10px;
}
    
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}
    
nav a {
  border-radius: 5px;
  color: white;
  padding: 1em;
  text-decoration: none;
}

nav a:hover {
  background-color: #00cc8f;
}

/* Global Font */

.row h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 2rem;
}

.row .webtext2 {
  font-size: 2rem;
}

/* Global Style */

h1{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height:2rem;
  font-size:3rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0;
  color: #fff;
}

.button-primary{
  border-radius: 5px;
  background-color: #00CC8F;
  padding: 20px;
  width: 150px;
  height: 50px;
  color: #fff;
  text-decoration:none;
}

.button-primary:hover {
  font-weight: 600;
  border-radius:5px;
  background-color: #00CC8F;
  color: #fff;
  padding: 20px;
  width: 150px;
  height: 50px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 20px 0 rgba(0, 204, 143, 1);
}

/* Home Page */

.row-navigation {
  display: flex;
  margin: 20px auto;
  align-items: center;
}

.keyvisual {
  line-height: 1.3;
  background-color: #21232C;
  margin: auto;
}

.row {
  display: flex;
  margin: auto;
  padding: 100px 40px 100px 40px;
  align-items: center;
  background-color: #21232c;
  max-width:1200px;
}

.about{
  line-height: 1.3;
  background-color: #2B2E3B;
  margin: auto;
  display:flex;
  justify-content: space-between;
  padding: 100px 40px 100px 40px;
  }

.row-about {
  display: flex;
  margin: auto;
  align-items: center;
  background-color: #2B2E3B;
  max-width: 1200px;
}

.partners {
  line-height: 1.3;
  background-color: #21232c;
  text-align:center;
  padding: 100px 40px 100px 40px;
}

.row-partners {
  display:flex;
  margin: auto;
  padding: 20px 20px 20px 20px;
  justify-content: center;
}

.partners h2{
  align-items: center;
}

/* Partners Gallery */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  text-align:center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* <!-- End --!> */

.column {
  flex: 50%;
  display:flex;
  align-items: center;
  
}

.column-image {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homedp {
  width:400px;
  height:400px;
  float:right;
}

.row span {
  color: #00cc8f;
}

.row .cyclone {
  float: left;
}

/* About Page */

.education-column {
  flex: 50%;
  display:flex;
  align-items: center;
}

.education {
  line-height: 1.3;
  background-color: #2B2E3B;
  padding: 100px 40px 100px 40px;
}

.education-info {
  display:flex;
  margin: auto;
  padding: 20px 20px 20px 20px;
  justify-content: center;
  max-width: 1200px;
}

/* Table Properties */

.year {
  width:100px;
}

.table_component {
  overflow-x: auto;
  width: 100%;
}

.table_component table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component th {
  border: 1px solid #dededf;
  background-color: #00C286;
  color: #e5e7eb;
  padding: 10px;
}

.table_component td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #6b7280;
  padding: 10px;
}

/* Hobbies Section */
.hobbies{
  line-height: 1.3;
  background-color: #21232C;
  margin: auto;
}

.hobbies-info {
display: flex;
  margin: auto;
  padding: 100px 40px 100px 40px;
  align-items: center;
  background-color: #21232c;
  max-width:1200px;
}

/* Projects */
.project-gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  text-align:center;
}

.project-gallery:hover {
  border: 1px solid #00C286;
}

.project-gallery img {
  width: 100%;
  height: auto;
}

.project-desc {
  padding: 15px;
  background-color:#00C286;
  color: #fff;
  text-align: center;
  font-weight:700;
}

/* Contact Section */

.column-c {
  flex: 33.33%;
  display:flex;
  align-items: center;
  
}


/* Footer */

.footer{
  line-height: 1.3;
  background-color: #2B2E3B;
  padding: 50px 40px 50px 40px;
  margin: auto;
}

.footer-info{
  max-width: 1200px;
  margin: auto;
  }

.footer-column {
  float: left;
  width: 33.33%;
}

.footer-info:after {
  content: "";
  display: table;
  clear: both;
}

.disclaimer{
  line-height: 1.3;
  background-color: #21232C;
  padding: 10px 40px 10px 40px;
  margin: auto;
}

.disclaimer-info{
  line-height: 1.3;
  max-width: 1200px;
  margin: auto;
  text-align:center;
}

/* Social Icons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #00cc8f;
  color: white;
}

/* Twitter */
.fa-github {
  background: #00cc8f;
  color: white;
}

.fa-instagram {
  background: #00cc8f;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 26px;
  text-align: center;
  text-decoration: none;
  border-radius: 50
}

.fa-map-pin {
  background: #00cc8f;
  color: white;
}



@media only screen and (max-width: 768px) {
  .row{
    display:flex;
    flex-direction:column;
  }
  .column-image {
    margin-top:100px;
  }

  .row-about{
    display:flex;
    flex-direction:column;
  }
  .hobbies-info{
    display:flex;
    flex-direction:column;
  }
  .project-gallery{
    width:100%;
  }
}

@media only screen and (max-width: 600px) {
   
}
